<h1 align="center">Listing all articles</h1>
<% @articles.each do |article| %>
<div class="card card-body bg-light">
<div class="card-title">
<%= link_to article.title, article_path(article) %>
</div>
<div class="card-body">
<%= truncate(article.description, length: 100) %>
</div>
<div class="card-body">
<%= link_to "Edit this article", edit_article_path(article), class: "btn btn-sm btn-primary" %>
<%= link_to "Delete this article", article_path(article), method: :delete,
data: { confirm: "Are you sure you want to delete the article?"},
class: "btn btn-sm btn-danger" %>
</div>
</div>


<% end %>