<h1 align="center">All Alpha Bloggers</h1>
<div align="center">
	<% @users.each do |user| %>
	<ul class="list">
		<div class="row">
			<div class="card col-md-6 offset-3 p-2">
				<li><%= link_to gravatar_for(user), user_path(user) %></li>
				<li class="card-title">
					<%= link_to user.username, user_path(user) %>
				</li>
				<li><small><%= pluralize(user.articles.count, "article") if user.articles %></small></li>
			</div>
		</div>
	</ul>
	<% end %>
</div>