<% if obj.errors.any? %>
<div class="row m-3">
	<div class="col-xs-8 offset-md-2">
		<div class="card bg-info">
			<div class="card-body">
				<h2 class="card-title">
					<%= pluralize(obj.errors.count, "error") %>
					prohibited this article from being saved:
				</h2>
				<div class="card-body">
					<ul>
						<% obj.errors.full_messages.each do |msg| %>
						<li><%= msg %></li>
						<% end %>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<% end %>