@import 'bootstrap/scss/bootstrap';

*{
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar{ 
	background-color: rgb(38, 4, 131)
};

body{
	height: 100vhm;
}

#logo {
	float: left;
	font-size: 1.7em;
	color: #fff;
	letter-spacing: -1px;
	font-weight: bold;
}

#logo:hover {
	color: rgb(158, 232, 255);
	transform: scale(1.1);
}

.jumbotron{
	background-image: asset-url('fon.jpg');
	background-size: cover;
	height: 550px;

}

.article-actions {
	border-top: 1px solid #eaeaea;
	padding-top: 5px;
	}
	
	.description {
	margin-top: 0;
	}

.article-title {
	font-weight: bold;
	font-size: 1.5em;
	}
		
.article-body {
	border-top: 1px solid #eaeaea;
	padding-top: 15px;
	padding-bottom: 15px;
}
.article-meta-details {
	border-top: 1px solid #eaeaea;
	margin-top: 15px;

	}

.list {
	list-style: none;
	padding-left: 0;
	}

.footer{
	position: relative;
  bottom: 10px;
}