<div class="container">
	<footer class="footer">
		<small>
			Copyright &copy <a href="https://www.linkedin.com/in/bekhzod-akhrorov/">BeKa Corp.</a> by
			<a href="https://www.linkedin.com/in/bekhzod-akhrorov/">Bekhzod Akhrorov</a>
		</small>
		<!-- <nav>
			<ul class="float-right text-decoration-none">
				<li><%= link_to "About", about_path %>			</li>
			</ul>
		</nav> -->
	</footer>
</div>